* {
  font-family: "system";
  user-select: none;
  box-sizing: border-box;
}
h1 {
  padding-left: 20px;
}
html, body {
  background: transparent !important;
  color: #ffffff;
  margin: 0px; padding: 0px;
  width: 100vw; height: 100vh;
  overflow: hidden;
}
main {
  background-color: #0f1116;
}
.menu {
  width: 300px;
  min-width: 300px;
  height: 100vh;
  background-color: #1f2126;
}
button {
  text-align: center;
  background-color: Transparent;
  padding: 10px;
  color: #afafaf;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  width: 100%;
}
button:hover {
  cursor: pointer;
  background-color: #2f3136;
}
.tab_button {
  padding: 20px;
  font-size: 20px;
  border-radius: 0;
  text-align: left;
}
.tab {
  width: 100%;
  font-size: 150%;
  /* padding: 20px; */
  overflow: hidden;
}
table { overflow: hidden; width: 100%; }
tr { text-align: left; }
td, th {
  font-size: 15px;
  background-color: #1A1A21;
  border-radius: 5px;
  height: 100%;
}
td p { padding-left: 10px; }
td h2, td span { padding-left: 0px; margin: 7px; }
td button { height: 100%; }
form input {
  color: white;
  height: 100%;
  width: 100%;
  background-color: #1E1E25;
  border: none;
  padding: 10px;
  box-sizing: border-box;
}
button:active { background-color: #3f4146; }
button:disabled { cursor: auto; background-color: #1f2126; color: #5f5f5f }




 /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} 

